# General
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Frontend - Next.js
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build/
/frontend/.vercel
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# Backend - Go
/backend/bin/
/backend/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Database
*.sqlite
*.db

# Temporary directories
tmp/
temp/
